div
{
    position: absolute;
    left: 0; 
    right: 0; 
    bottom: 0;
    margin-right: auto; 
    margin-bottom: auto;
    width: 200px;
    height: 100px;
    text-align: center;
}

.A
{
    left: -100px;
    top: 0;
    margin-left: auto; 
    margin-top: auto;
    border: solid blue;
    background-color: lightblue;
}
.B
{
    background-color: palevioletred;
    border: solid red;
    top: 50%;
    margin-left: calc(50% - 101px);
    left: 60px;
    margin-top: -20px;
}