body {
    margin: 0;
}

header {
    background-color: grey;
    padding: 15px 0;
}

h1 {
    text-align: center;
    color: white;
}

article {
    padding: 10px;
    margin: 15px;
    background-color: lightgray;
    width: 34%;
}
section{
    display: flex;
    flex-direction: row;
}