*
{
    font-family: "arial"
}
.box
{
    border: black solid 1px;
    padding: 25px;
    background-color: lightgray;
}
.box-content
{
    border: white solid 10px;
    padding: 25px;
}
p
{
    letter-spacing: 1px;
}
