.container{
    display:grid;
    grid-template-columns: repeat(5, 20vw [col-start]);
}

.item{
    background-color: burlywood;
    margin: 10px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: solid black 1px;
}